.header {
  height: 3.4rem;
  display: block;
  position: sticky;
  margin: 1rem auto !important;
  background-color: var(--color-grey-50);
  box-shadow: var(--shadow-blue-lg);
  border-radius: var(--border-radius-md);
  width: 100%;
  border: 1px solid var(--color-brand-100);
  z-index: 7777;

  &__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  &__listItem {
    padding: 0.8em;
    border-bottom: 3px solid transparent;

    &:hover {
      color: var(--color-brand-500);
      border-bottom: 3px solid var(--color-brand-500);
    }
  }

  &__link {
    cursor: pointer;
  }
}

.logo {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    display: block;
    width: 2.6rem;
  }

  &__text {
    font-size: 1.7rem;
    font-weight: 800;
    margin: 0 0 0 1rem;
    color: #545454;
  }
}
