.header {
  height: 3.4rem;
  max-width: 1200px;
  display: block;
  position: sticky;
  margin: 1rem auto 0;
  background-color: var(--color-grey-50);
  box-shadow: var(--shadow-blue-lg);
  border-radius: var(--border-radius-md);

  &__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7rem;
  }

  &__logo {
    display: flex;
    &Image {
      width: 2.7rem;
    }

    &Text {
      font-weight: 800;
      margin-left: 1rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  &__listItem {
    padding: 1em;
  }
}
